---
import FinalCTA from '../components/FinalCTA.astro';
---

<section class="relative py-32 px-6 border-b border-white/5 bg-void-950 overflow-hidden">
    <div class="max-w-7xl mx-auto relative z-10">
        <FinalCTA />
    </div>
</section>
